* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}

#titulo {
    color: rgb(255, 170, 0);
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.menu {
    position: fixed;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(41, 49, 75);
}

.nav-menu {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 20%;
}

.iten-menu {
    font-size: 18px;
    justify-content: flex-end;
    margin: 5%;
    color: rgb(255, 255, 255);  
}

.iten-menu:hover {
    background-color: rgb(64, 77, 116);
}

.iten-menu:active {
    background-color: rgb(26, 31, 48);
    color: rgb(255, 255, 255);
}
.iten-menu:visited {
    color: rgb(255, 255, 255);
}

#sobre{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Poppins', sans-serif;
}

.cell {
    padding-right: 30px;
    height: 160px;
    text-align: center;
}

.quote-div {
    display: flex;
    align-items: center;
    margin: 50px;
}

.quote {
    color: rgb(41, 49, 75);
    font-style: italic;
    font-size: 36px;
    font-weight: 600;
}

#projetos {
    padding-left: 250px;
    margin-right: 250px;
    font-family: 'Poppins', sans-serif;
}

#parceiros {
    padding-left: 250px;
    margin-right: 250px;
    font-family: 'Poppins', sans-serif;
}

#contato {
    margin: 50px;
    margin-left: 250px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 36px;
    font-weight: 600;
    background-color: rgb(64, 77, 116);
    color: rgb(255, 170, 0);
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 50px;
}
#contato:hover {
    background-color: rgb(41, 49, 75);
    color: rgb(255, 170, 0);
}
#contato:active {
    color: rgb(41, 49, 75);
    background-color: rgb(255, 170, 0);
}



#footer {
    padding: 50px;
    background-color: rgb(41, 49, 75);
    color: rgb(255, 170, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

