* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}

#titulo {
    color: rgb(17, 21, 31);
    font-family: 'Playfair Display', serif;
    font-size: 64px;
}

.menu {
    position: fixed;
    font-family: 'Poppins', sans-serif;
    padding: 50px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(78, 94, 142);
}

.nav-menu {
    margin: 20px;
}

.iten-menu {
    position: relative;
    display: inline;
    margin: 20px;
    color: rgb(255, 255, 255);  
}

.iten-menu:hover {
    background-color: rgb(64, 77, 116);
    
}

.iten-menu:active {
    background-color: rgb(41, 49, 75);
    color: rgb(255, 255, 255);
}
.iten-menu:visited {
    color: rgb(255, 255, 255);
}

.div-section-sobre{
    padding-top: 180px;
    margin:30px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Poppins', sans-serif;
}

.cell {
    height: 150px;
    text-align: center;
}

.quote-div {
    display: flex;
    align-items: center;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.quote {
    
    font-style: italic;
    font-size: 32px;
    font-weight: 600;
}